/**
 * @license
 * MyFonts Webfont Build ID 3953312, 2020-09-28T08:11:57-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Sucrose-BoldTwo by Yellow Design Studio
 * URL: https://www.myfonts.com/fonts/yellow-design/sucrose/bold-two/
 * Copyright: Copyright (c) 2015 by Yellow Design Studio. All rights reserved.
 * 
 * Webfont: GotchaStandup by Nicky Laatz
 * URL: https://www.myfonts.com/fonts/nicky-laatz/gotcha/standup/
 * Copyright: Copyright (c) 2017 by NickyLaatz. All rights reserved.
 * 
 * 
 * 
 * © 2020 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/3c52a0");
  
@font-face {
  font-family: 'GotchaStandup';
  src: url('webFonts/GotchaStandup/font.woff2') format('woff2'), url('webFonts/GotchaStandup/font.woff') format('woff');
}
@font-face {
  font-family: 'Sucrose-BoldTwo';
  src: url('webFonts/Sucrose-BoldTwo/font.woff2') format('woff2'), url('webFonts/Sucrose-BoldTwo/font.woff') format('woff');
}

